.drink-card {
  position: relative;
  perspective: 1000px;
}

.drink-card:hover {
  box-shadow: 0 0 5px rgba(11, 242, 158, 0.3);
  transform: rotateX(5deg) rotateY(-5deg) scale(1.05);
  z-index: 1;
}

.drink-card img {
  transition: transform 0.3s ease-in-out;
}

.drink-card:hover img {
  transform: scale(1.1);
}

.drink-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.drink-card:hover::before {
  opacity: 1;
}